
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "AlbertSans", regular;
}

/* MOBILE */

body {
    background-color: white !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
.container-fluid {
    background-color: #c6e602;
    width: 100%;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
}
.navbar-nav > a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 11px;
    width: 100px;
    height: 30px;
    background-color: greenyellow;
    margin: 5px auto 5px;
    color: #563C5C;
    border: 2px solid #563C5C;
    box-shadow: 6px 5px  yellowgreen;
}

.navbar-nav > a:link { color: yellowgreen; }
.navbar-nav > a:visited { color: #563C5C; }
.navbar-nav > a:hover { background: yellowgreen; }
.navbar-nav > a.active { background-color: #EFECF9; }

.container > .row {
    margin-top: -20px;
    margin-bottom: 30px;
}
.container-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    color: #563C5C;
    gap: 20px;
    font-size: 20px;
}
.container-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background: linear-gradient(135deg, rgba(217,3,103,1) 0%, rgba(59,17,87,1) 50%, rgba(239,236,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90367', endColorstr='#efecf9', GradientType=1 );
}
.container-title i {
    color: #EFECF9;
    font-size: 20px;
}
.container-title > h1 {
    display: flex;
    color: #EFECF9;
    width: 200px;
    height: 20px;
    font-size: 25px;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-self: baseline; 
}
.search {
    width: 250px;
    margin: auto;
    color: #563C5C;
}
.col-sm-auto {
    text-align: center !important;
    padding-top: 20px !important;
}
div .card {
    font-size: 10px;
    padding: 0px;
    margin: 30px;
    align-items: center;
    border: 1px solid #563C5C;
    font-size: 10px;
    background-color: #EFECF9;
}
.card-body {
    padding: 50px;
}
.card-body h3 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    color: #563C5C;
    margin-top: 10px;
}
.card-body p {
    font-size: 18px;
    text-align: left;
    color: #563C5C;
    margin-top: 10px;
    margin-left: 10px;
    height: 90px;
}
.card-body span {
    font-size: 18px;
    font-weight: bold;
    color:#d90368;   
}
.card-body > a {
    background-color:#d90368;
    color: #EFECF9;
}
.card-body span, a {
    margin: 15px;
}
.card-body > a:hover {
    background-color: #563C5C !important;
}
.cardDetails {
    padding: 30px;
}
#cardResponsive {
    background-color: #EFECF9;
}
#text-details {
    align-content: center;
}
#text-details > h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 0px !important;
    margin-top: 0px;
}
#text-details #descriptive  {
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
}
#text-details > p {
    display: flex; 
    margin-top: -60px; 
}
#twocol {
    display: flex;
    flex-wrap: wrap;
    
}
form {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
form .btn {
    background-color: #d90368!important;
}

#btn-back {
    margin-bottom: 30px !important;
    background-color: #d90368 !important;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    table-layout: fixed;
    border: 1px solid #563C5C;
    background-color: #EFECF9;
}
tbody {
    padding: 2px;
    margin: 10px;
}
th, td {
    padding: 5px;
    text-align: center;   
}  
th {
    font-weight: bold;
    width: 130px;
    overflow: auto;
}
th > h5 {
    color: #d90368 ;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1px;
    text-align: center;
}
.events > th {
    color: #563C5C;
    font-size: 12px;
}
td {
    color: #d90368;
    font-size: 12px;
}
.card > .row {
    margin: auto;
    gap: 30px;
}
#text-details p, h3 {
    font-size: 20px; 
    color: #563C5C;  
}
footer > .container-footer1 {
    background: linear-gradient(135deg, rgba(217,3,103,1) 0%, rgba(59,17,87,1) 50%, rgba(239,236,249,1) 100%);
}

/* TABLET */

@media only screen and (min-width: 768px) {
        .navbar-nav > a {
        margin: 5px 5px 5px;
        font-size: 9px;
        width: 90px;
        height: 30px;
    }     
    .container-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .container-title {
        height: 45px;
    }
    .container-title i {
        font-size: 35px; 
    }
    .container-title > h1 {
        width: 400px;
        height: 30px;
        font-size: 35px;
    }
    .search {
        width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    div .card {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #cardResponsive {
        width: 40rem !important;
        height: 20rem !important;
    }
    #twocol {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        line-height: 50px;
    }
    #img-details > img {
        width: 200px !important;
        height: 280px !important;
    }
    #text-details > h3 {
        display: flex;
        justify-content: center;
    }
    #text-details > p {
        display: flex; 
        margin-top: -60px; 
    }
    #text-details #descriptive  {
        display: inline-block;
        line-height: 20px;
        margin-bottom: 15px;
    }
    form {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    th > h5 {
        font-size: 20px;
    }
    .events > th {
        font-size: 18px;
    }
    td {
        font-size: 18px;
    } 
}

/* DESKTOP */

@media only screen and (min-width: 1400px) {
    .navbar-nav > a {
        margin: 5px 10px 10px;
        font-size: 16px;
        width: 140px;
        height: 30px;
    }    
    .container-title {
        height: 60px;
    }
    .container-title i {
        font-size: 40px; 
    }
    .container-title > h1 {
        width: 400px;
        height: 30px;
        font-size: 45px;
    }
    .search {
        width: 400px;
        margin-top: 30px;
    }
    div .card {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #cardResponsive {
        width: 40rem !important;
        height: 20rem !important;
    }
    #twocol {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        line-height: 50px;
    }
    #img-details > img {
        width: 200px !important;
        height: 280px !important;
    }
    #text-details > h3 {
        display: flex;
        justify-content: center;
    }
    #text-details > p {
        display: flex; 
        margin-top: -60px; 
    }
    #text-details #descriptive {
        display: inline-block;
        line-height: 20px;
    }
    form {
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    th > h5 {
        font-size: 24px;
    }
    .events > th {
        font-size: 18px;
    }
    td {
        font-size: 20px;
    }